@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: whitesmoke;
  overflow-y: hidden;
}

.container {
  position: relative;
  height: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

.container section.map {
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container section.map .map-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.map-buttons-container {
  width: 940px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.bottom-to-top-img {
  opacity: 0;
  position: absolute;
  top: 150%;
  /* Set the initial position to the bottom */
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bottomToTop 1s ease-in-out forwards;
}

@keyframes bottomToTop {
  0% {
    opacity: 0;
    top: 150%;
    /* Start with the item at the bottom */
  }

  100% {
    opacity: 1;
    top: 50%;
    /* Move the item to its final position */
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.map-logs {
  width: 719px;
  height: 399px;
}

.map-buttons-container .map-tree-btn {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: -12%;
  left: 32%;
}

.map-buttons-container .map-tree-btn.disabled-btn {
  cursor: not-allowed;
}

.map-buttons-container .map-city-btn {
  all: unset;
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  right: 0;
}

.map-buttons-container .map-city-btn.disabled-btn {
  cursor: not-allowed;
}

.map-buttons-container .map-waterland-btn {
  all: unset;
  cursor: pointer;
  position: absolute;
  bottom: 14%;
  left: 4%;
}

.cuyo-marker {
  position: absolute;
    bottom: 42%;
    left: 8%;
  width: 182px;
  height: 200px;
  z-index: 3;
}

.appearMarker {
  opacity: 0;
  animation: fadeInMarker 2s ease-in-out forwards;
}

@keyframes fadeInMarker {
  0% {
    opacity: 0;
    /* Start with the item at the bottom */
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.island {
  width: 272px;
  height: 274px;
}

.map-text {
  position: absolute;
  width: 475px;
  height: 160px;
}

.appearText {
  opacity: 0;
  animation: fadeInText 3s ease-in-out forwards;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    /* Start with the item at the bottom */
  }

  66% {
    opacity: 0;
    top: -20%;
    right: 0;
  }

  100% {
    opacity: 1;
    top: 0;
    right: 0;
  }
}

.map-arrows-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

.map-navigation-btn {
  all: unset;
  cursor: pointer;
}

.map-navigation-btn.disabled-btn {
  cursor: not-allowed;
}

.map-arrow {
  width: 60px;
  height: 60px;
}

.container section.forest {
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container section.forest .forest-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.forest-trees-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.forest-trees-container .right-tree {
  position: absolute;
  opacity: 0;
}

.appear-right-tree {
  bottom: -110%;
  right: 0;
  opacity: 0;
  animation: fadeInRightTree 1s ease-in-out forwards;
}

@keyframes fadeInRightTree {
  0% {
    opacity: 0;
    bottom: -110%;
    right: 0;
  }

  100% {
    opacity: 1;
    bottom: 0;
    right: 0;
  }
}

.forest-trees-container .left-tree {
  position: absolute;
  opacity: 0;
}

.appear-left-tree {
  bottom: -110%;
  left: 0;
  opacity: 0;
  animation: fadeInLeftTree 1s ease-in-out forwards;
}

@keyframes fadeInLeftTree {
  0% {
    opacity: 0;
    bottom: -110%;
    left: 0;
  }

  100% {
    opacity: 1;
    bottom: 0;
    left: 0;
  }
}

.container section.forest .forest-effects {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.forest-animals-container {
  position: absolute;
  bottom: 0;
  left: 24%;
  width: 100%;
  max-width: 900px;
  height: 370px;
  display: flex;
  flex-direction: row;
  z-index: 5;
}

.turtle {
  position: absolute;
  opacity: 0;
  width: 382px;
  height: 260px;
  object-fit: cover;
  pointer-events: none;
}

.appear-turtle {
  bottom: -100%;
  left: 0;
  opacity: 0;
  animation: fadeInTurtle 1s ease-in-out forwards;
}

@keyframes fadeInTurtle {
  0% {
    opacity: 0;
    bottom: -100%;
    left: 0;
  }

  100% {
    opacity: 1;
    bottom: 0;
    left: 0;
  }
}

.cuyo {
  position: absolute;
  opacity: 0;
  width: 339px;
  height: 236px;
  object-fit: cover;
  pointer-events: none;
}

.appear-cuyo {
  bottom: -100%;
  left: 36%;
  opacity: 0;
  animation: fadeInCuyo 1.25s ease-in-out forwards;
}

@keyframes fadeInCuyo {
  0% {
    opacity: 0;
    bottom: -100%;
    left: 36%;
  }

  100% {
    opacity: 1;
    bottom: 0;
    left: 36%;
  }
}

.tingua {
  position: absolute;
  opacity: 0;
  width: 312px;
  height: 368px;
  object-fit: cover;
  pointer-events: none;
}

.appear-tingua {
  bottom: -100%;
  right: 0;
  opacity: 0;
  animation: fadeInTingua 1.5s ease-in-out forwards;
}

@keyframes fadeInTingua {
  0% {
    opacity: 0;
    bottom: -100%;
    right: 0;
  }

  100% {
    opacity: 1;
    bottom: 0;
    right: 0;
  }
}

.forest-gif-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  z-index: 6;
}

.right-gif {
  position: absolute;
  opacity: 0;
  height: auto;
  max-width: 500px;
}

.appear-right-gif {
  bottom: -100%;
  right: 0;
  opacity: 0;
  animation: fadeInRightGif 1.5s ease-in-out forwards;
}

@keyframes fadeInRightGif {
  0% {
    opacity: 0;
    bottom: -100%;
    right: 0;
  }

  100% {
    opacity: 1;
    bottom: 0;
    right: 0;
  }
}

.left-gif {
  position: absolute;
  opacity: 0;
  height: auto;
  max-width: 500px;
}

.appear-left-gif {
  bottom: -100%;
  left: 0;
  opacity: 0;
  animation: fadeInLeftGif 1.5s ease-in-out forwards;
}

@keyframes fadeInLeftGif {
  0% {
    opacity: 0;
    bottom: -100%;
    left: 0;
  }

  100% {
    opacity: 1;
    bottom: 0;
    left: 0;
  }
}

.forest-texts-container {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: row;
  z-index: 7;
}

.forest-texts-container .text-1 {
  position: absolute;
  opacity: 0;
  width: 656px;
  height: 240px;
  object-fit: cover;
  pointer-events: none;
}

.appear-text-1 {
  top: -120%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: fadeInText1 1s ease-in-out forwards;
}

@keyframes fadeInText1 {
  0% {
    top: -120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
}

.forest-texts-container .text-2 {
  position: absolute;
  opacity: 0;
  width: 656px;
  height: 240px;
  object-fit: cover;
  pointer-events: none;
}

.appear-text-2 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: fadeInText2 1.5s ease-in-out forwards;
}

@keyframes fadeInText2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.forest-arrows-container {
  position: absolute;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
}

.forest-navigation-btn {
  all: unset;
  cursor: pointer;
}

.forest-arrow {
  width: 60px;
  height: 60px;
}

.container section.interactive {
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.interactive-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.interactive-left-tree-container {
  position: absolute;
  opacity: 0;
  width: 273px;
  height: 464px;
  display: flex;
  z-index: 2;
}

.appear-left-tree-container {
  top: -100%;
  right: 34%;
  opacity: 0;
  animation: fadeInLeftTreeContainer 1s ease-in-out forwards;
}

@keyframes fadeInLeftTreeContainer {
  0% {
    opacity: 0;
    top: -100%;
    right: 34%;
  }

  100% {
    opacity: 1;
    top: 0;
    right: 34%;
  }
}

.interactive-left-tree {
  position: absolute;
  top: 0;
  left: 0;
}

.interactive-mirla-state-1 {
  position: absolute;
  opacity: 0;
  width: 110px;
  height: 154px;
}

.interactive-mirla-state-2 {
  position: absolute;
  top: 8%;
  left: 5%;
  width: 130px;
  height: 122px;
  display: none;
}

.appear-int-mirla {
  top: -100%;
  left: 12%;
  opacity: 0;
  animation: fadeInIntMirla 0.75s ease-in-out forwards;
}

@keyframes fadeInIntMirla {
  0% {
    top: -100%;
    left: 12%;
    opacity: 0;
  }

  100% {
    top: 0;
    left: 12%;
    opacity: 1;
  }
}

.interactive-left-tree-container .interactive-sound-btn-on {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 35%;
  left: 18%;
  opacity: 0;
}

.interactive-left-tree-container .interactive-sound-btn-off {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 35%;
  left: 18%;
  opacity: 0;
}

.speakers {
  width: 90px;
  height: 94px;
}

.interactive-right-tree-container {
  position: absolute;
  opacity: 0;
  width: 412px;
  height: 724px;
  display: flex;
  z-index: 3;
}

.appear-right-tree-container {
  top: -100%;
  right: 6%;
  opacity: 0;
  animation: fadeInRightTreeContainer 1s ease-in-out forwards;
}

@keyframes fadeInRightTreeContainer {
  0% {
    opacity: 0;
    top: -100%;
    right: 6%;
  }

  100% {
    opacity: 1;
    top: 0;
    right: 6%;
  }
}

.interactive-snake {
  position: absolute;
  opacity: 0;
  width: 200px;
  height: 212px;
}

.appear-int-snake {
  bottom: 8%;
  left: 15%;
  opacity: 0;
  animation: fadeInIntSnake 1.2s ease-in-out forwards;
}

@keyframes fadeInIntSnake {
  0% {
    bottom: 8%;
    left: 15%;
    opacity: 0;
  }

  100% {
    bottom: 8%;
    left: 55%;
    opacity: 1;
  }
}

.interactive-right-tree {
  position: absolute;
  top: 0;
  right: 0;
  width: 412px;
  height: 724px;
  z-index: 4;
}

.interactive-tucan-state-1 {
  position: absolute;
  opacity: 0;
  width: 153px;
  height: 182px;
  z-index: 5;
}

.interactive-tucan-state-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 153px;
  height: 182px;
  z-index: 5;
}

.appear-int-tucan {
  top: -100%;
  right: 0;
  opacity: 0;
  animation: fadeInIntTucan 0.75s ease-in-out forwards;
}

@keyframes fadeInIntTucan {
  0% {
    top: -100%;
    right: 0;
    opacity: 0;
  }

  100% {
    top: 0;
    right: 0;
    opacity: 1;
  }
}

.interactive-right-tree-container .interactive-tucan-sound-btn-on {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 19%;
  z-index: 6;
  opacity: 0;
}

.interactive-right-tree-container .interactive-tucan-sound-btn-off {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 19%;
  z-index: 6;
  opacity: 0;
}

.interactive-right-tree-container .interactive-snake-sound-btn-on {
  all: unset;
  cursor: pointer;
  position: absolute;
  bottom: 6%;
  right: 20%;
  z-index: 6;
  opacity: 0;
}

.interactive-right-tree-container .interactive-snake-sound-btn-off {
  all: unset;
  cursor: pointer;
  position: absolute;
  bottom: 6%;
  right: 20%;
  z-index: 6;
  opacity: 0;
}

.appear-int-sound-btn {
  opacity: 0;
  animation: fadeInSoundBtn 1.25s ease-in-out forwards;
}

@keyframes fadeInSoundBtn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.interactive-animals-container {
  position: absolute;
  bottom: 14%;
  left: 0;
  width: 820px;
  height: 250px;
  z-index: 7;
}

.interactive-tingua {
  position: absolute;
  opacity: 0;
  width: 314px;
  height: 250px;
  z-index: 9;
}

.appear-int-tingua {
  bottom: 0;
  left: -50%;
  opacity: 0;
  animation: fadeInIntTingua 1s ease-in-out forwards;
}

@keyframes fadeInIntTingua {
  0% {
    bottom: 0;
    left: -50%;
    opacity: 0;
  }

  100% {
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}

.interactive-turtle {
  position: absolute;
  opacity: 0;
  width: 281px;
  height: 216px;
  z-index: 8;
}

.appear-int-turtle {
  bottom: 20%;
  left: -50%;
  opacity: 0;
  animation: fadeInIntTurtle 1.2s ease-in-out forwards;
}

@keyframes fadeInIntTurtle {
  0% {
    bottom: 20%;
    left: -70%;
    opacity: 0;
  }

  100% {
    bottom: 20%;
    left: 19%;
    opacity: 1;
  }
}

.interactive-cuyo {
  position: absolute;
  opacity: 0;
  width: 225px;
  height: 180px;
}

.appear-int-cuyo {
  bottom: 20%;
  left: -50%;
  opacity: 0;
  animation: fadeInIntCuyo 1.3s ease-in-out forwards;
}

@keyframes fadeInIntCuyo {
  0% {
    bottom: 38%;
    left: -70%;
    opacity: 0;
  }

  100% {
    bottom: 38%;
    left: 44%;
    opacity: 1;
  }
}

.interactive-text-1 {
  position: absolute;
  opacity: 0;
  width: 538px;
  height: 266px;
}

.appear-int-text-1 {
  top: -50%;
  left: 5%;
  opacity: 0;
  animation: fadeInIntText1 1.35s ease-in-out forwards;
}

@keyframes fadeInIntText1 {
  0% {
    top: -50%;
    left: 5%;
    opacity: 0;
  }

  100% {
    top: 10%;
    left: 5%;
    opacity: 1;
  }
}

.interactive-arrows-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
}

.interactive-navigation-btn {
  all: unset;
  cursor: pointer;
}

.interactive-arrow {
  width: 60px;
  height: 60px;
}

/* .first {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  overflow: hidden;
}

.first::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

.first img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.first img#moon {
  mix-blend-mode: screen;
}

.first img#mountains-front {
  z-index: 10;
}

#title {
  position: absolute;
  top: 35%;
  right: -720px;
  color: #ffffff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #ffffff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  max-height: 50px;
}

.second {
  position: relative;
  padding: 100px;
  background: #1c0522;
}

.second h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #ffffff;
}

.second p {
  font-size: 1.2em;
  color: #ffffff;
}

#scroll-to-third-section {
  all: unset;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2em;
}

section.third {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  overflow: hidden;
}

section.third img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section.third img.right-tree {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.75s ease-in-out;
}

section.third img.left-tree {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.85s ease-in-out;
}

section.third img.right-bush {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 1s ease-in-out;
}

section.third img.left-bush {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 1.1s ease-in-out;
}

section.third img.cuyo {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 1.2s ease-in-out;
}

section.third img.tingua {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 1.4s ease-in-out;
}

section.third img.turtle {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 1.6s ease-in-out;
} */