@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: whitesmoke;
  overflow-x: hidden;
}

.container {
  position: relative;
  height: 100%;
    /* Set the height of the container to 100% */
}

.container section.map {
  background: orange;
  width: 100%;
  height: 720px;
}

.container section.forest {
  background: greenyellow;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container section.forest .forest-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.forest-trees-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.forest-trees-container .right-tree {
  position: absolute;
  bottom: 0;
  right: 0;
}

.forest-trees-container .left-tree {
  position: absolute;
  bottom: 0;
  left: 0;
}

.container section.forest .forest-effects {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.forest-animals-container {
  position: absolute;
  bottom: 0;
  left: 24%;
  width: 100%;
  max-width: 900px;
  height: 370px;
  display: flex;
  flex-direction: row;
  z-index: 5;
}

.turtle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 382px;
  height: 260px;
  object-fit: cover;
  pointer-events: none;
}

.cuyo {
  position: absolute;
  bottom: 0;
  left: 36%;
  width: 339px;
  height: 236px;
  object-fit: cover;
  pointer-events: none;
}

.tingua {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 312px;
  height: 368px;
  object-fit: cover;
  pointer-events: none;
}

.forest-gif-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  z-index: 6;
}

.right-gif {
  position: absolute;
  right: 0;
  height: auto;
  max-width: 400px;
}
.left-gif {
  position: absolute;
  left: 0;
  height: auto;
  max-width: 400px;
}

.forest-texts-container {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: row;
  z-index: 7;
}

.forest-texts-container .text-1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 656px;
  height: 240px;
  object-fit: cover;
  pointer-events: none;
}

.forest-texts-container .text-2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 656px;
  height: 240px;
  object-fit: cover;
  pointer-events: none;
}

.container section.interactive {
  background: blue;
  width: 100%;
  height: 720px;
}

/* .first {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  overflow: hidden;
}

.first::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

.first img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.first img#moon {
  mix-blend-mode: screen;
}

.first img#mountains-front {
  z-index: 10;
}

#title {
  position: absolute;
  top: 35%;
  right: -720px;
  color: #ffffff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #ffffff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  max-height: 50px;
}

.second {
  position: relative;
  padding: 100px;
  background: #1c0522;
}

.second h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #ffffff;
}

.second p {
  font-size: 1.2em;
  color: #ffffff;
}

#scroll-to-third-section {
  all: unset;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2em;
}

section.third {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  overflow: hidden;
}

section.third img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section.third img.right-tree {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.75s ease-in-out;
}

section.third img.left-tree {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.85s ease-in-out;
}

section.third img.right-bush {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 1s ease-in-out;
}

section.third img.left-bush {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 1.1s ease-in-out;
}

section.third img.cuyo {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 1.2s ease-in-out;
}

section.third img.tingua {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 1.4s ease-in-out;
}

section.third img.turtle {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 1.6s ease-in-out;
} */